<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/pic.jpg" class="portrait" alt="">\
            <p>This is an unrelated picture of Azgorh from Australian black metal band Drowning The Light.</p>
        </div>
        {{>footer}}
    </body>
</html>